@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Mono", monospace;
}

body {
	background-color: white;
	display: flex;
	overflow: hidden;
}

.sidebar {
	width: 20vw;
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.sidebar * {
	color: white;
	margin-top: 6.5%;
	font-family: "IBM Plex Mono";
	text-align: center;
	font-weight: 500;
}
.sidebar button {
	padding: 0;
	color: black;
}

.sidebar h1 {
	flex: 0.4;
}

.main {
	width: 80vw;
	height: 100vh
}

.screen {
	height: 92vh;
	overflow: auto;
}

.screen ul {
	list-style: none;
}

.messageBox {
	height: 8vh;
	display: flex;
}

.messageBox textarea {
	flex: 1;
	resize: none;
	font-size: 16px;
}

.messageBox button {
	flex: 0.2;
}

.messageBox * {
	height: 100%;
}

.bold {
	font-weight: bold;
}

.nomargin {
	margin: 0;
}

.nopadding {
	padding: 0
}

.username {
	padding-right: 10px
}

#titlelink:hover span {
	display: none
}

#titlelink:hover:before {
	content: "Drag to your bookmarks"
}

.sidebar input {
	color: black;
	text-align: center;
}

#msgList {
	padding: 24px 60px 0
}

#msgList > li {
	margin-bottom: 22px;
}

.messagecontent {
	padding: 0
}

.msgDate {
	padding: 10px;
}

code {
	background-color: rgb(70 70 70);
	color: white;
	padding: 0.2em 0.8em;
	display: block;
	border-radius: 3px;
}

img, video {
	max-width: 80%
}

.hidden {
	display: none !important
}

.uploadImagePopup {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uploadImagePopup > div {
	width: 50%;
	height: 70%;
	background-color: rgb(40, 40, 40);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px
}

.uploadImagePopup > div h1 {
	color: white
}

.uploadImagePopup > div > div button {
	padding: 2.5px 50px;
}
